#Discord API Connections
TOKEN =
CLIENT_ID =
GUILD_ID =

#Bot Details
BOT_NAME =
STAT_SERVER =
STAT_DB =
WAIFUIT_ID =
DEFER =
MAINTENANCE_MODE =
TXN_HANDLER =

#Channels and ID's
TEST_CHANNEL =
BOT_CHANNEL =
APP_DEV_USERID =

#Events API
EVENT_IP =
EVENT_KEY =
EVENT_PORT =

#Database
MYSQL_HOST =
MYSQL_ROOT_PASSWORD =
MYSQL_DATABASE =
MYSQL_USER =
MYSQL_PORT =

#Image Links
ICON =
INFO =
PROCESSING =
FAIL =
SUCCESS =
SERVER =
LOGO =

#Duino-Coin Credentials
MASTER_USER =
MASTER_KEY =
